#sabre {

  nav {
    max-width: 980px;
    margin: 0 auto;
  }

  .navbar-nav > li {
    margin-right: 36px;
  }


  .navbar-nav > li > a {
    color: #cfcec3;
    padding: 7px 14px;
    margin: 28px 0px;
  }

  .navbar-collapse {
    background-color: #333;
  }

  .navbar {
    margin-bottom: 0;
    border: none; // reset navbar border styles
    border-bottom: 3px solid #fff;
  }

  div[id^="metaslider"] {
    margin-bottom: 0;
  }

  .navbar-brand {
    padding: 15px 50px;
    img {
      max-width: 180px;
    }
  }

  .navbar-default,
  .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {
    background-color: #333;
  }
  
  .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
    border: 1px solid white;
  }

}