#sabre {

  nav {
   // max-width: 980px;
    margin: 0 auto;
  }

  .navbar-nav > li {
    margin-right: 36px;
  }


  .navbar-nav > li > a {
    color: #cfcec3;
    padding: 7px 14px;
    margin: 18px 0px;
  }

  .navbar-collapse {

  }

  .navbar {
    margin-bottom: 0;
    border: none; // reset navbar border styles
    border-bottom: 3px solid #fff;
    min-height: 73px;
    .caret {
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }

  div[id^="metaslider"] {
    margin-bottom: 0;
  }

  .navbar-brand {
    padding: 13px 50px;
    height: 73px;
    img {
      max-width: 150px;
    }
  }

  .navbar-default,
  .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    background-color: inherit;
    border: 1px solid white;
    padding: 6px 13px;
  }


  .navbar-nav>li>a:active {
    background-color: #62625E;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.collapse.in {

    ul li {
      margin-right: 0;
      a {
        margin: 5px 0px;
      }
    }

    ul.dropdown-menu li a {
      color: #cfcec3;
    }
  }

}