/* Front page */

#sabre {

  div#brands-strap {

    overflow: hidden;
    height: 60px;
    text-align: center;
    
  }

  div#brands-strap ul {

    list-style: none;
    overflow: hidden;
    height: 60px;
    padding: 0;

    li {
        
        line-height: 60px;
        margin: 0 10px;
        display: inline;
        
        img {
            display: inline-block;
            vertical-align: middle;
        }

    }

  }

  div.generic-page {
    background-color: #333;
    color: #cfcec3;
    text-align: center;
    &.bordered {
      border-bottom: 3px solid #fff;
    }
    .generic-content {
      padding: 15px 85px 27px;
      a {
        font-size: 0.95em;
        z-index: 10;
        position: relative;
        color: inherit;
      }
    }

  }

  div.title-strap {
    text-align: center;
    height: 55px;
    background-color: #cfcec3;
    h1, h2 {
      line-height: 55px;
      margin: 0;
    }
  }

  div.embedded-video {
    i {
      width: 50%;
      height: 38%;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 60px;
      cursor: pointer;
    }
  }

  #all-videos {
    overflow: hidden;
    padding: 0 30px 30px 30px;
  }

  #products-slider-wrapper {
    height: 340px;
  }

  .metaslider {
    .caption-wrap {
      position: inherit;
      background: none;
      color: black;
      .caption {
        text-align: center;
      }
    }
  }

  .favourite-product {
    .caption {
      text-align: center;
      margin-top: 10px;
    }
  }


  #products-slider-wrapper {

    .flex-direction-nav {
      text-align: center;
    }
    .flex-direction-nav a {
      position: relative;
      opacity: 1;
      margin: 0 auto;
      display: inline-block;
      cursor: pointer;
    }


    .flex-direction-nav > li {
      text-align: center;
      display: inline;
    }

    .flex-direction-nav .flex-disabled {
      pointer-events: auto;
    }

    .flexslider .flex-direction-nav .flex-prev,
    .flexslider:hover .flex-direction-nav .flex-prev {
      left: 0;
    }

    .flexslider .flex-direction-nav .flex-next,
    .flexslider:hover .flex-direction-nav .flex-next {
      right: 0;
    }

  }

  .brand-slider {
    width: 63%;
    text-align: center;
    .flexslider {
      margin: 0;
      border: 0;
    }
  }
  
  .brand-aside {
    width: 37%;
    overflow: hidden;
    .brand-aside-content {
      color: #d0cec2;
      background-color: #333436;
      text-align: center;
      padding: 10px 0;
      height: 100%;
    }
  }

  .row.reduced-padding > .brand-slider {
    padding-right: 1px;
  }

  .row.reduced-padding > .brand-aside {
    padding-left: 1px;
  }

  .flexslider.brand-products {
    margin-bottom: 0;
  }

  .row.bottom > .brand-slider {
    margin-bottom: 30px;
  }

  #education-main {
    text-align: center;
    padding: 0 50px;
  }

  .educators {
    color: #000;
    background-color: transparent;
    h1 {
      text-align: center;
    }
  }

  .educators.dark {
    background-color: #333333;
    color: #cfcec3;
    h1 {
      text-align: center;
    }
  }

  .headshot {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .educators:nth-of-type(2n) {
      background-color: #333333;
      color: #cfcec3;
      margin-top: 60px;
  }

  .educators {
    padding-top: 5px;
    h1 {
      margin-bottom: 50px;
    }
    .educator {
      padding: 0 30px 30px 30px;
      .favourite-product img {
        display: block;
        margin: 0 auto;
      }
    }
    .artist-educator {
      padding: 0 30px 30px 30px;
      .favourite-product img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
