    <div class="row reduced-padding top">
        <div class="col-sm-8 col-xs-12 brand-slider">
            <div class="flexslider">
                <ul class="slides">
                    {% for banner in banners %}
                    <li>
                        {{ banner }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 brand-aside">
            <div class="brand-aside-content">
                {{ page.types('brand-sidebar') }}
            </div>
        </div>
    </div>