    <div class="row">
        <div class="col-xs-8 brand-slider">
            <div class="flexslider">
                <ul class="slides">
                    {% for banner in banners %}
                    <li>
                        {{ banner }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-4 brand-aside">
            <div class="brand-aside-content">
                <h1>Connect with Lorem Ipsum</h1>
                <h2>Lorem Ipsum</h2>
                <small>www.LoremIpsum.com</small>
                <h2>Lorem Ipsum</h2>
                <small>www.LoremIpsum.com</small>
                <h2>Lorem Ipsum</h2>
                <small>www.LoremIpsum.com</small>
                <h2>Lorem Ipsums</h2>
                <small>www.LoremIpsum.com</small>
            </div>
        </div>
    </div>