    <div class="row reduced-padding top">
        <div class="col-xs-8 brand-slider">
            <div class="flexslider">
                <ul class="slides">
                    {% for banner in banners %}
                    <li>
                        {{ banner }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-4 brand-aside">
            <div class="brand-aside-content">
                {{ page.types('brand-sidebar') }}
            </div>
        </div>
    </div>