    <div class="row reduced-padding top">
        <div class="col-sm-8 col-xs-12 brand-slider">
            <div class="flexslider">
                <ul class="slides">
                    {% for banner in banners %}
                    <li>
                        {{ banner }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 brand-aside">
            <div class="brand-aside-content">
                <div class="vertical-centre">
                    <div>
                    <h5>CONNECT WITH</h5>
                    <img class="inner-brand-logo" src="{{ current_brand.thumbnail.get_src|resize(272, 180, true) }}"/>
                    {{ page.types('brand-sidebar') }}
                    </div>
                </div>
            </div>
        </div>
    </div>