<div class="row reduced-padding bottom">

        <div class="col-sm-8 brand-slider">
            <div class="brand-content">
                {{ page.content }}
            </div>
        </div>
        <div class="col-sm-4 brand-aside">
            <div class="flexslider brand-products">
                <ul class="slides">
                    {% set products = page.types('featured-brand-product') %}
                    {% for product in products %}
                        <li>
                            <img src="{{ product|resize(500) }}"/>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

</div>