@media screen and (min-width: 992px) and (max-width: 1199px) {
  #sabre {
    nav {
      width: 940px;
      .navbar-nav > li {
        margin-right: 31px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  nav {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .educator {
    .description {
      padding: 0 20px;
    }
  }
  div#footer-content .footer-logo-group,
  div#footer-content .footer-address-group {
    border-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .video-group {
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .brand-aside {
    width: 37%;
    padding-left: 1px;
  }
  .brand-slider {
    width: 63%;
    padding-right: 1px;
  }

}