@media screen and (min-width: 992px) and (max-width: 1199px) {
  #sabre {
    nav {
      width: 940px;
      .navbar-nav > li {
        margin-right: 31px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  nav {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .educator {
    .description {
      padding: 0 20px;
    }
  }
  div#footer-content .footer-logo-group,
  div#footer-content .footer-address-group {
    border-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .video-group {
    img {
      width: 100%;
    }
  }

  #metaslider_21 {

    .flex-direction-nav {
      a {
        height: 50px;
        background: url(../images/left.png) no-repeat;
        background-size: 20px;
      }
      a.flex-next {
        background: url(../images/right.png) no-repeat;
        background-size: 20px;
      }

      .flex-prev {
        left: 10px;
        opacity: 1;
        top: 92%;
      }

      .flex-next {
        opacity: 1;
        top: 92%;
        left: 55px;
      }

    }
  }
}

@media screen and (min-width: 768px) {
  .brand-aside {
    width: 37%;
    padding-left: 1px;
  }
  .brand-slider {
    width: 63%;
    padding-right: 1px;
  }

}