@media screen and (min-width: 992px) and (max-width: 1199px) {
  #sabre {
    nav {
      width: 940px;
      .navbar-nav > li {
        margin-right: 31px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  nav {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .educator {
    .description {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .video-group {
    img {
      width: 100%;
    }
  }
}