<div class="generic-page">
    <div class="generic-content">
        <h1 class="text-uppercase">{{ page.post_title }}</h1>
        <p>{{ page.post_excerpt }}</p>
        <a class="text-uppercase">Read More</a>
    </div>
</div>