<div class="generic-page bordered">
    <div class="generic-content">
        <h2 class="text-uppercase"><a class="anchor" name="about">{{ about_page.post_title }}</a></h2>
        <p>{{ about_page.content }}</p>
    </div>
</div>