<div class="generic-page bordered">
    <div class="generic-content">
        <h1 class="text-uppercase">{{ about_page.post_title }}</h1>
        <p>{{ about_page.post_excerpt }}</p>
        <a class="text-uppercase">Read More</a>
    </div>
</div>