<div class="generic-page" id="education">
    <div class="generic-content">
        <h1 class="text-uppercase">{{ education_page.post_title }}</h1>
        <p>{{ education_page.post_excerpt }}</p>
        <a class="text-uppercase">Read More</a>
    </div>
</div>