<div class="generic-page" id="education">
    <div class="generic-content">
        <div class="content-container">
            <h2 class="text-uppercase">{{ education_page.post_title }}</h2>

            <p>{{ education_page.post_excerpt }}</p>
            <a class="text-uppercase" href="{{ education_page.permalink }}">
                <small><u>Read More ></u></small>
            </a>
        </div>
    </div>
</div>