<div class="title-strap">
    <h2 class="text-uppercase">Hero Products</h2>
</div>
<div id="products-slider-wrapper">
    <div class="content-container">
{{ homePage.producs_slider_shortcode|shortcodes }}
    </div>
</div>