<div class="generic-page">
    <div class="generic-content">
        <h1 class="text-uppercase" data-toggle="modal" data-target="#video-modal" data-src="https://www.youtube.com/embed/Q_hzhCe4rWs">Videos</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="embedded-video" data-toggle="modal" data-target="#video-modal" data-src="https://www.youtube.com/embed/Q_hzhCe4rWs">
                <img class="img-responsive" src="http://img.youtube.com/vi/Q_hzhCe4rWs/mqdefault.jpg" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="embedded-video" data-toggle="modal" data-target="#video-modal" data-src="https://www.youtube.com/embed/Q_hzhCe4rWs">
                <img class="img-responsive" src="http://img.youtube.com/vi/Q_hzhCe4rWs/mqdefault.jpg" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="embedded-video" data-toggle="modal" data-target="#video-modal" data-src="https://www.youtube.com/embed/Q_hzhCe4rWs">
                <img class="img-responsive" src="http://img.youtube.com/vi/Q_hzhCe4rWs/mqdefault.jpg" />
                <i class="glyphicon glyphicon-play-circle"></i>
            </div>
        </div>
    </div>
</div>