<div class="generic-page">
    <div class="generic-content">
        <h1 class="text-uppercase">Videos</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="embedded-video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q_hzhCe4rWs"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="embedded-video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q_hzhCe4rWs"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="embedded-video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q_hzhCe4rWs"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>