.event-table {

  margin-bottom: 65px;

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  i {
    margin-right: 5px;
    color: #ccc;
    font-size: 12px;
  }


  thead {
    border-bottom: 1px solid #ddd;
    th.clickable {
      cursor: pointer;
    }
  }

    th, td {
      border: none;
      text-align: left;
      padding: 8px;
      width: 274px;
    }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  a {
    color: white;
    background-color: black;
    border: none;
    border-radius: 0;

    &:hover {
      background-color: #ccc;
    }
  }
}

@media screen and (max-width: 600px) {
  table.event-table {
    width:100%;

    tr:nth-of-type(2n) {
      background-color: inherit;
    }

    th, td {
      width: auto;
    }

    tr td:first-child {
      background: #f0f0f0; font-weight:bold;font-size:1.3em;
    }

    thead {
      display: none;
    }

    tbody td {
      display: block;  text-align:center;
    }

    tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
    }

  }

}

